/* Scrollbar Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(54, 52, 52, 0.7) black;
}

/* Scrollbar Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(54, 52, 52, 0.7);
}

/* Navbar */

#basic-nav-dropdown {
  color: black;
}

#nav-ddown:hover {
  background-color: white;
}

/* Cloud Wave */

#wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Tenets */

.cards {
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c" "a a d d";
  width: 80%;
}

.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card:last-child {
  margin-bottom: 0;
}
.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}
.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-label {
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}
.card-title {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #d6dbeb;
  z-index: 5;
  font-size: 0.8em;
}
.card.form {
  position: relative;
}
.card.form:before {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
.card.form:after {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  content: "";
  background: #252833;
}
.card.form .form-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 7vw;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card.form .form-title:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  content: "Sign Up";
  opacity: 0.5;
  filter: blur(10px);
  transition: all 0.25s ease;
  z-index: 2;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: translateX(-50%) translateY(-50%);
}
.card:nth-child(2) .card-label {
  background: #ef4e7b;
}
.card:nth-child(3) .card-label {
  background: #1098ad;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
.card:hover .form-title:before {
  filter: blur(3px);
  opacity: 0.7;
}

/* Calendar */

.highlight-angry {
  color: white;
  /* font-size: 30px; */
  background: rgb(255, 68, 81, 0.9) !important;
}

.highlight-optimistic {
  color: white;
  /* font-size: 30px; */
  background: rgb(252, 187, 0, 0.9) !important;
}

.highlight-happy {
  color: white;
  /* font-size: 30px; */
  background: rgb(251, 111, 49, 0.9) !important;
}

.highlight-peaceful {
  color: white;
  /* font-size: 30px; */
  background: rgb(106, 218, 84, 0.9) !important;
}

.highlight-excited {
  color: white;
  /* font-size: 30px; */
  background: rgb(201, 0, 231, 0.9) !important;
}

.highlight-bored {
  color: white;
  /* font-size: 30px; */
  background: rgb(165, 165, 165, 0.9) !important;
}

.highlight-sad {
  color: white;
  /* font-size: 30px; */
  background: rgb(39, 180, 214, 0.9) !important;
}

/* Mood Buttons */

.mood-button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
}
.mood-button span {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.7px;
}
.mood-button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.mood-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.peaceful {
  color: #555;
  border: 1px solid #6ada54;
  background-color: rgb(106, 218, 84, 0.8);
}

.optimistic {
  color: #555;
  border: 1px solid #fcbb00;
  background-color: rgb(252, 187, 0, 0.8);
}

.excited {
  color: #555;
  border: 1px solid #c900e7;
  background-color: rgb(201, 0, 231, 0.8);
}

.happy {
  color: #555;
  border: 1px solid #fb6f31;
  background-color: rgb(251, 111, 49, 0.8);
}

.sad {
  color: #555;
  border: 1px solid #27b4d6;
  background-color: rgb(39, 180, 214, 0.8);
}

.angry {
  color: #555;
  border: 1px solid #ff4451;
  background-color: rgb(255, 68, 81, 0.8);
}

.bored {
  color: #555;
  border: 1px solid #a5a5a5;
  background-color: rgb(165, 165, 165, 0.8);
}
